.trolley{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-items: center;
}

.TotalPriceContainer{
    background-color: rgba(138, 195, 204, 1);
    border-radius: 20px;
    width: 360px;
    height: 90px;
    margin: 15px;
    color:rgba(65, 64, 66, 1);
    text-align: center;
}

.info{
   height: 30px;
}

.WhatsappContainer{
    display: flex;
    justify-content:space-around;
}

.clearCart{
    height: 40px;
}

