.complete{
    display: flex;
    flex-direction: column;
}

.movie{
    display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
    
}

.infoCard{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px
}

.text{
    margin-top: 20px;
    font-size: 24px;
    margin: 20px;
} 

.evolution{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

 
/* Medium (md) */ 
@media (min-width: 768px) { 

    .infoCard{
        margin-top: 30px;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        gap:30px
    }
    
    .dog{
       height: 250px;
    }

    .baby{
        height: 250px;
    }

} 
 
 
/* Extra Large (xl) */ 
@media (min-width: 1280px) { 
    
    .complete{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap:1rem;
    }
    
    .movie{
        display: flex;
        justify-content: center;
        margin: 20px;
        width: 100%;
        height:100%;
        
    }
    
    .infoCard{
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:30px
    }

    .evolution{
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 900px;
        text-align: center;
        margin-left: 200px;
    }
}