@font-face{
  font-family:"IstokWeb-Regular";
  src:url(../src/assets/Typography/IstokWeb-Regular.ttf);
}

@font-face{
  font-family:"IstokWeb-Bold";
  src:url(../src/assets/Typography/IstokWeb-Bold.ttf);
}

body {
  margin: 0;
  background-color:  #D6E2E5 ;
  font-family: 'IstokWeb-Bold';
}
